<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: bikerator_head"/>
<head>
    <meta charset="UTF-8">
    <title>Zusammenfassung</title>
</head>
<body>
<div th:replace="fragments/navbar :: bikerator_navbar"></div>
<div class="content" style="color: rgba(0, 0, 0, 0.6); margin-top: 80px; margin-bottom: 150px;">
    <div class="container">
        <h1>Zusammenfassung der Konfiguration</h1>
        <div class="row" style="margin-top: 40px;">
            <div class="col-6">
                <form th:action="@{/createConfiguration/back}" th:if="${currentCategory} != null" th:method="post">
                    <input th:name="currentCategory" th:value="${currentCategory}" type="hidden"/>
                    <button class="btn btn btn-outline-secondary btn-large" style="padding: 8px 30px;" type="submit">
                        Zurück
                    </button>
                </form>
            </div>
            <div class="col-6" sec:authorize="isAuthenticated()" style="text-align: right;">
                <a class="btn btn btn-outline-secondary btn-large" style="padding: 8px 30px;"
                   th:href="@{/user/editConfiguration}">Konfiguration speichern</a>
            </div>
            <div class="col-6" sec:authorize="!isAuthenticated()" style="text-align: right;">
                <a class="btn btn btn-outline-secondary btn-large col-12" style="padding: 8px 30px;"
                   th:href="@{/user/editConfiguration}">Einloggen und Konfiguration speichern</a>
            </div>
            <div class="col-12" sec:authorize="!isAuthenticated()" style="text-align: right; margin-top: 15px;">
                <a class="col-12" style="color: rgba(0,0,0,.5); margin-top: 10px;" th:href="@{/signup}">Noch nicht
                    registriert? Jetzt Konto erstellen.</a>
            </div>
        </div>
        <div class="row" style="margin: 30px 0px; border: 1px solid rgb(189, 189, 189); "
             th:each="item: ${config.getItemList()}">
            <div class="col-lg-4 col-md-12">
                <img style="width: 80%;" th:src="@{/images/bike.jpg}"/>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4 col-md-6" style="padding: 30px;">
                <h4 th:text="${item.name}"></h4>
                <p>Artikelnummer: <span th:text="${item.getId()}"></span></p>
                <p th:text="${item.description}"></p>
                <span>Gewicht: <span th:text="${item.getWeight()}"></span> Kg</span><br/>
                <span>Kategorie: <span th:text="${item.getCategory().getName()}"></span></span>
            </div>
            <div class="col-lg-3 col-md-6" style="padding: 30px;">
                <div class="container" style="position: absolute; bottom: 10%;">
                    <h3 th:text="${item.price} + ' €'"></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: bikerator_footer"></div>
</body>
</html>