<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<form th:action="@{/createConfiguration/saveConfiguration}" th:method="post">
    <ul th:each="elem: ${itemMap}">
        <li>
            <h3 th:text="${elem.key}"></h3>
            <ul th:each="item: ${elem.value}">
                <li>
                    <input type="radio" th:name="itemId" th:value="${item.itemId}">
                    <span th:text="${item.name}"></span>
                    <span th:text="${item.description}"></span>
                    <span th:text="${item.price}"></span>
                    </input>
                </li>
            </ul>
        </li>
    </ul>
    <button type="submit" class="btn btn-primary">Weiter</button>
</form>
<a class="nav-link" th:href="@{/createConfiguration/step_1}" id="step" name="1">zurück</a>
</body>
</html>
