<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: bikerator_head"/>
<head>
    <meta charset="UTF-8">
    <title>Mein Konto</title>
</head>
<body>
<div th:replace="fragments/navbar :: bikerator_navbar"></div>
<div class="content" style="color: rgba(0, 0, 0, 0.6); margin-top: 80px; margin-bottom: 150px;">
    <div class="container">
        <div  th:if="${saved}" class="alert alert-success" role="alert">
            Die Änderungen wurden erfolgreich gespeichert.
        </div>
        <div th:if="${postIsSet}" class="alert alert-success" role="alert" style="margin-top: 40px;">
            Deine Konfiguration wurde auf Friendzone geteilt.
        </div>
        <h1>Hallo <span sec:authentication="name"/>! Wilkommen im Bikerator.</h1>
        <div class="container row" style="margin-top: 50px;">
            <div class="col-12" th:if="${openConfig} != null">
                <a class="btn btn btn-outline-secondary btn-large" style="margin-top: 20px; padding: 8px 30px; width: 50%;"
                   th:href="@{../createConfiguration}">Offene Konfiguration bearbeiten</a>
            </div>
            <div class="col-12">
                <a class="btn btn btn-outline-secondary btn-large" style="margin-top: 20px; padding: 8px 30px; width: 50%;"
                   th:href="@{../createConfiguration/start}">Neue Konfiguration starten</a>
            </div>
            <div class="col-12">
                <a class="btn btn btn-outline-secondary btn-large" style="margin-top: 20px; padding: 8px 30px; width: 50%;"
                   th:href="@{/user/myConfigurations}">Gespeicherte Konfigurationen ansehen</a>
            </div>
            <div class="col-12">
                <a class="btn btn btn-outline-secondary btn-large" style="margin-top: 20px; padding: 8px 30px; width: 50%;"
                   th:href="@{/user/editAccount}">Persönliche Daten bearbeiten</a>
            </div>
            <div class="col-12">
                <a class="btn btn btn-outline-secondary btn-large" style="margin-top: 20px; padding: 8px 30px; width: 50%;"
                   th:href="@{/user/editAccount/password}">Passwort ändern</a>
            </div>
            <div class="col-12">
                <form onSubmit="return confirm('Konto wirklich löschen?');" th:action="@{/user/editAccount/delete}"
                      th:method="post">
                    <button class="btn btn btn-outline-secondary btn-large" style="margin-top: 20px; padding: 8px 30px; width: 50%;"
                            type="submit">Konto löschen
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: bikerator_footer"></div>
</body>
</html>
