<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head :: bikerator_head" />
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div th:replace="fragments/navbar :: bikerator_navbar"></div>
<p th:if="${saved}">Erfolgreich gespeichert</p>
<div class="container">
    <h1>Wilkommen <span sec:authentication="name"/>!</h1>
    <div th:if="${openConfig} != null" class="container">
        <a th:href="@{../createConfiguration}" class="btn btn-primary">Offene Konfiguration bearbeiten.</a>
    </div>
    <div class="container">
        <a th:href="@{/user/editAccount}" class="btn btn-primary">Meine Daten bearbeiten</a>
    </div>
</div>
<ul th:each="customer: ${customers}">
    <li th:text="${customer.getUsername()}"></li>
</ul>
</body>
</html>