<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head :: bikerator_head" />
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navbar :: bikerator_navbar"></div>
<div class="container">
    <h1>Meine Daten</h1>
    <form th:action="@{/user/editAccount/save}" th:method="post">
        <div class="form-group">
            <label for="firstname">Vorname:</label>
            <input type="text" class="form-control" id="firstname" name="firstname" th:value="${user.getFirstname()}">
        </div>
        <div class="form-group">
            <label for="lastname">Nachname:</label>
            <input type="text" class="form-control" id="lastname" name="lastname" th:value="${user.getLastname()}">
        </div>
        <div class="form-group">
            <p>Adresse</p>
            <label for="street">Straße:</label>
            <input type="text" class="form-control" id="street" name="street" th:value="${user.getAddress().getStreet()}">
            <label for="number">Hausnummer:</label>
            <input type="text" class="form-control" id="number" name="number" th:value="${user.getAddress().getNumber()}">
            <label for="postcode">Postleitzahl:</label>
            <input type="text" class="form-control" id="postcode" name="postcode" th:value="${user.getAddress().getPostcode()}">
            <label for="town">Stadt:</label>
            <input type="text" class="form-control" id="town" name="town" th:value="${user.getAddress().getTown()}">
            <label for="country">Land:</label>
            <input type="text" class="form-control" id="country" name="country" th:value="${user.getAddress().getCountry()}">
        </div>
        <div class="form-group">
            <label>Neues Passwort:</label>
            <input type="password" class="form-control" name="password">
            <label>Passwort bestätigen:</label>
            <input type="password" class="form-control" name="password_confirm">
        </div>
        <div class="form-group">
            <label for="email">Email-Adresse:</label>
            <input type="text" class="form-control" id="email" name="email" th:value="${user.getEmail()}">
        </div>
        <button type="submit" class="btn btn-primary">Änderungen speichern</button>
    </form>
    <form th:action="@{/user/editAccount/delete}" th:method="post">
        <button type="submit" class="btn btn-primary">Account löschen</button>
    </form>
</div>
</body>
</html>