<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head :: bikerator_head" />
<head>
    <meta charset="UTF-8">
    <title>Mein Konto</title>
</head>
    <body>
        <div th:replace="fragments/navbar :: bikerator_navbar"></div>
        <div class="content" style="color: rgba(0, 0, 0, 0.6); margin-top: 80px;">
            <div class="container">
                <h1>Passwort ändern</h1>
                <form id="savePasswordForm" th:action="@{/user/editAccount/savePassword}" th:method="post" style="padding: 20px;" onSubmit="return confirm('Bist du sicher, dass du dein Passwort ändern willst?');">
                    <input type="hidden" th:name="save" th:value="true"/>
                    <div class="form-group">
                        <label>Neues Passwort</label>
                        <input type="password" class="form-control" name="passwordNew"/>
                    </div>
                    <div class="form-group">
                        <label>Neues Passwort bestätigen</label>
                        <input type="password" class="form-control" name="passwordCheck"/>
                    </div>
                    <button type="submit" class="btn btn btn-outline-secondary btn-large" style="margin-top: 20px; padding: 8px 30px;">Passwort speichern</button>
                </form>
            </div>
        </div>
    </body>
</html>

<script type="application/javascript">
    $("#savePasswordForm").submit(function(event) {
        var password = $("input[name=passwordNew]").val();
        var passwordCheck = $("input[name=passwordCheck]").val();
        if (password !== passwordCheck) {
            alert("Die eingegebenen Passwörter stimmen nicht überein.");
            event.preventDefault();
        }
    });
</script>