<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head :: bikerator_head" />
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navbar :: bikerator_navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4" th:each="config: ${configList}">
            <span th:text="${config.getName()}"></span>
            <span th:text="${config.getDescription()}"></span>
            <ul th:each="item: ${config.getItemList()}">
                    <li th:text="${item.getName()}"></li>
            </ul>
            <a class="btn btn-primary" th:href="@{'/user/editConfiguration?id=' + ${config.getConfigurationId()}}">Bearbeiten</a>
        </div>
    </div>
</div>
</body>
</html>