<!-- Footer -->
<footer class="page-footer" style="text-align: center; border-top: 1px solid rgba(0,0,0,.5); position: fixed; bottom: 0px; width: 100%; height: 40px; line-height: 40px; background-color: white;"
        th:fragment="bikerator_footer">
    <div class="row container-fluid">
        <div class="col-2">
            <a style="color: rgba(0,0,0,.5);" th:href="@{/}">Kontakt</a>
        </div>
        <div class="col-2">
            <a style="color: rgba(0,0,0,.5);" th:href="@{/}">Impressum</a>
        </div>
        <div class="col-2">
            <a style="color: rgba(0,0,0,.5);" th:href="@{/}">Datenschutz</a>
        </div>
        <div class="col-3">
            <a style="color: mediumblue" href="http://im-codd:8861/" target="_blank">FRIENDZONE</a>
        </div>
        <div class="col-3">
            <a style="color: mediumblue" href="http://im-codd:8873/" target="_blank">MONEYBOI</a>
        </div>
    </div>
</footer>
<!-- Footer -->
