<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kundenkonto</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div id="navbar" class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Konfigurator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Kategorien</a>
            </li>
            <li class="nav-item nav-right dropdown">
                <a class="nav-link" href="/anmelden">Login</a>
            </li>
            <li class="nav-item nav-right">
                <a class="nav-link" href="/registrieren">Registrieren</a>
            </li>
        </ul>
    </nav>
</div>
<div class="container">
    <h3>Anmeldung erfolgreich.</h3>
    <h1>Hallo <span th:text="${username}"/>. Wilkommen im Bikenator!</h1>
    <p>Ihr Passwort ist <span th:text="${passwort}"/></p>
    <p>Viel Spaß beim Konfigurieren Ihres Drahtesels.</p>
</div>
</body>
</html>