<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: bikerator_head"/>
<head>
    <meta charset="UTF-8">
    <title>Bikerator</title>
</head>
<body>
<div th:replace="fragments/navbar :: bikerator_navbar"></div>
<div class="container"
     style="float: right; width: 35%; margin-right: 50px; background-color: white; padding: 30px; font-size: 24px; margin-top: 5%; opacity: 0.9;">
    <h1>Wilkommen im Bikerator!</h1>
    <p>Erstelle und bestelle für dich individuell konfigurierte Drahtesel, speichere bis zu sechs deiner Konfigurationen
        oder teile diese mit Freunden.</p>
    <p>Viel Spaß beim probieren!</p>
</div>
<div th:replace="fragments/footer :: bikerator_footer"></div>
</body>
</html>

<style type="text/css">
    body {
        background-image: url("/images/background.jpeg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
</style>