<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
    <form th:action="@{/login}" th:method="post">
        <div class="form-group">
            <label for="username">Kundennummer:</label>
            <input type="text" class="form-control" id="username" name="username"
                   placeholder="Eingabe Kundennummer"></input>
            <small id="usernamelogin-help" class="form-text text-muted">
                Bitte geben Sie Ihre Kundennummer ein</small>
        </div>
        <div class="form-group">
            <label for="password">Passwort:</label>
            <input type="password" class="form-control" id="password" name="password"
                   placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Anmelden</button>
    </form>
</body>
</html>