<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: bikerator_head"/>
<head>
    <meta charset="UTF-8">
    <title>Artikelübersicht</title>
</head>
<body>
<div th:replace="fragments/navbar :: bikerator_navbar"></div>
<div class="content" style="color: rgba(0, 0, 0, 0.6); margin-top: 80px; margin-bottom: 150px;">
    <div class="container">
        <div th:each="father: ${categories}">
            <h3 th:text="${father.getName()}"></h3>
            <div class="container" style="margin-top: 40px;">
                <div th:each="child: ${father.getChildCategories()}">
                    <h4 style="margin-bottom: 20px;" th:text="${child.getName()}"></h4>
                    <div class="row" style="margin: 30px 0px; border: 1px solid rgb(189, 189, 189); "
                         th:each="item: ${child.getItemList()}">
                        <div class="col-lg-4 col-md-12">
                            <img style="width: 80%;" th:src="@{/images/bike.jpg}"/>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4 col-md-6" style="padding: 30px;">
                            <h4 th:text="${item.name}"></h4>
                            <p>Artikelnummer: <span th:text="${item.getId()}"></span></p>
                            <p th:text="${item.description}"></p>
                            <span>Lagerbestand: <span th:text="${item.getStock()}"></span></span><br/>
                            <span>Gewicht: <span th:text="${item.getWeight()}"></span> Kg</span><br/>
                            <span>Kategorie: <span th:text="${item.getCategory().getName()}"></span></span>
                        </div>
                        <div class="col-lg-3 col-md-6" style="padding: 30px;">
                            <div class="container" style="position: absolute; bottom: 10%;">
                                <h3 th:text="${item.price} + ' €'"></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: bikerator_footer"></div>
</body>
</html>